body{
background: url("https://github.com/coleephil/coleephil/blob/main/images/wx-rain-1.png?raw=true");
}
.quote {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 72pt;
  color: #FFFFFF;
}